.projetos {
  margin-top: 20vw;
  text-align: center;
  scroll-margin-top: 5vw; // Corrige âncora ao clicar

  @media (max-width: 768px) {
    scroll-margin-top: 56px;
  }

  h1 {
    font-family: "Roboto";
    font-size: 36px;
    margin-bottom: 5rem;
    color: rgb(13, 124, 228);
    margin-top: 5vw;
  }

  .container-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .linha-card {
    display: flex;
    width: 100%;

    /* Efeito 3D */
    perspective: 1000px;

    justify-content: center;
    align-items: center;

    app-card {
      width: 100%;
      max-width: 600px;

      /* necessário para rotação funcionar corretamente */
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }
  }
  .alinhado-esquerda {
    justify-content: flex-start;
  }

  .alinhado-direita {
    justify-content: flex-end;
  }
}
