mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  background-color: #040c24;
  border-bottom: solid 0.5px white;
  margin-bottom: 10%;
  .logo {
    display: flex;
    align-items: center;

    mat-icon {
      font-size: 2em;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      line-height: 1;
      vertical-align: middle;
    }

    button{
      display: flex;
      align-items: center;
    }
  }

  .container-buttom{
    display: flex;
    align-items: center;
    gap: 3em;

    .navigation{
      display: flex;
      gap: 1em;
    }

    .links {
      gap: 0.5em;
      display: flex;
      align-items: center;
      .github-button {
        width: 40px;
        height: 40px;
        padding: 1.2em;
         // opcional
        background-color: rgba(24, 81, 187, 0.08);
        line-height: 0;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }


      }
    }
  }

}
