<mat-toolbar>
  <div class="logo">
    <mat-icon>computer</mat-icon>
    <button mat-button><strong>PORTIFÓLIO</strong></button>
  </div>
  <span class="example-spacer"></span>
  <div class="container-buttom">
    <section class="navigation">
      <button mat-button (click)="scrollPara('projetos')">Projetos</button>
      <button mat-button (click)="scrollPara('habilidades')">Habilidades</button>
      <button mat-button>Contato</button>
    </section>
    <section class="links">
      <a mat-fab color="primary" href="https://github.com/henriquelacerda00" target="_blank" rel="noopener noreferrer" class="github-button" aria-label="GitHub">
        <img src="assets/github.svg" />
      </a>
      <a mat-fab color="primary" class="github-button" aria-label="GitHub" href="https://www.linkedin.com/in/henrique-pineli-ti/" target="_blank" rel="noopener noreferrer">
        <img src="assets/linkedIn.svg" />
      </a>
    </section>
  </div>
</mat-toolbar>
