.card-projeto {
  max-width: 50%;
  background-color: #071c5c;
  border-radius: 12px;
  padding: 2em 3em;
  margin-bottom: 3em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: f;

  &:hover {
    box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }

  ::ng-deep mat-card-title {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    display:flex;
    text-align: left;
  }

  ::ng-deep mat-card-subtitle {
    color: #08dffc;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.4rem;
    display: flex;
    text-align: left;
  }

  ::ng-deep mat-card-content p {
    color: white;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    display: flex;
    text-align: left;;
  }

  ::ng-deep mat-card-actions {
    display: flex;
    gap: 1em;
    margin-top: 1.5rem;
    flex-wrap: wrap;
  }

  ::ng-deep button[mat-flat-button] {
    background-color: #0e4cb3;
    color: white;
    padding: 0.6em 1.4em;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0b3a8e;
    }
  }
}

/* Estilo da imagem */
::ng-deep img[mat-card-image] {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
