/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh;
  background: linear-gradient(to bottom, #040c24, #040b42);
  background-repeat: no-repeat;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif, "Lato" ,"Alumni Sans Pinstripe"}
