html, body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #040c24, #061268);
  background-repeat: no-repeat;
  overflow-x: hidden; // ✅ impede scroll/corte horizontal
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif, "Lato", "Alumni Sans Pinstripe";
}
