.mensagem-enviada{
  .container-mensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 45vw;
    img{
      width: 20%;
      margin: 0 auto
    }

    .info-mensagem{
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        color: white;
        font-size: 32px;
      }
      p{
        color: #f1ebeb;
        font-size: 18px;
        margin-bottom: 1em;
      }
    }
    button[mat-flat-button]{
      background-color: #0078d4;
      width: 15%;
    }

    @media (max-width: 768px) {
      height: 100vh;

      img {
        width: 35%;
      }

      .info-mensagem h2 {
        font-size: 28px;
      }

      button[mat-flat-button] {
        width: 40%;
      }
    }

    @media (max-width: 480px) {
      img {
        width: 50%;
      }

      button[mat-flat-button] {
        width: 60%;
      }
    }
  }
}
